@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    color: #A8DF8E;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
                  2px 2px 5px rgba(94, 104, 121, 0.288);
}

header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.header {
    position: fixed;
    top: 0;
    left: 9;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


h1 {
    font-size: 25px;
    color: #A8DF8E;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #A8DF8E;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #7AA874;
    font-weight: 700;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-last-of-type(1) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #7AA874;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 span {
    color: #7AA874;
    font-weight: 800;
}

.home h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home h2 span {
    color: #7AA874;
    font-weight: 800;
}

.home p {
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.form-label, .col-form-label {
    font-size: 15px;
    font-weight: 800;
    color: #7AA874;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.form-control, .form-select, .btn {
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn {
    background-color: #7AA874;
}

.home-content p {
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 650px;
    margin-top: 10px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #7AA874;
    border-radius: 50%;
    font-size: 20px;
    color: #7AA874;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5 ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #A8DF8E;
    color: #1f242d;
    box-shadow: 0 0 20px #A8DF8E;
}

.btn-download {
    display: inline-block;
    padding: 12px 28px;
    background: #7AA874;
    border-radius: 40px;
    box-shadow: 0 0 20px #7AA874;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn-see {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #A8DF8E;
    border-radius: 40px;
    font-size: 16px;
    color: #7AA874;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px 0 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.btn-see:hover {
    background: #7AA874;
    box-shadow: 0 0 20px #7AA874;
    color: #fff;
    font-weight: 600;
}


/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
